.header{
    width:100%;
    background-color:var(--color-cajaP)
    
    
}
.login{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.logo{
    padding:0;
}

.btn{
    background-color:var(--color-cajaP);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:0px;
}
.btn button{
    margin:0px;
    margin-right:20px;
    height:40px;
    width:70px;
    border-radius: 10px;
    background-color: var(--color-text-btn);
    transition: all 0.2s;
    
}

.btn  button:hover{
    background-color: var(--color-text-btnH);
    
}
.login{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px;
    width:100%; 
    position:relative;
}


@media screen and (max-width:425px) {
    .btn{
       background-color: var(--color-text-btn);
       padding:10px 0px;
    }
    .btn button{
        height: 40px;
        
    }
   
}

