
    <div class="row">
        <div class="col banner" >
         <div class="banner-text ">  
              <div class="text">
                <h1 class="animate__animated animate__backInLeft animate__delay-1s">Portfolio</h1>
                <p class="animate__animated animate__backInRight animate__delay-2s">Web Full Stack Junior</p>
                <p class="animate__animated animate__backInRight animate__delay-3s">Luis F Sanchez Barranco</p>
              </div>
         </div>
        </div>
      
    </div>
