<div class="container">
    <div class="row" *ngFor="let persona of personas">
        <div class="col-sm-12 col-md-4 contenedor-img">
            <img [src]="persona.photo_url" alt="" class="imagen">
        </div>
        <div class="col-sm-12 col-md-8 contenedor-texto">
            <h2>Acerca de mi:</h2>
            <p>{{persona.descripcion_acerca}}</p><span> <fa-icon [icon]="faPen" class="iconAcerca"  (click)="openEditAcerca(persona,modalPersona)"></fa-icon></span>
           
        </div>
    </div>
            <ng-template #modalPersona let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h3>Acerca de mi</h3>
                <!-- <button type="button" class="btn-close" aria-label="Close"  (click)="d('Cross click')"></button> -->
                <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" novalidate (ngSubmit)="save($event)" >
                    <input type="text" formControlName="id" hidden>
                     <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-8">
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text"  class="form-control" formControlName="nombre"/>
                                    <label class="form-label" for="form3Example1">Nombre</label>
                                    <!--alerta nombre-->
                                    <div *ngIf="form.get('nombre').errors && form.get('nombre').touched" class="alert" role="alert">
                                        Ingrese el nombre
                                    </div>
                                    <!--alerta nombre-->
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-outline">
                                    <input type="text" class="form-control" formControlName="apellido"/>
                                    <label class="form-label" for="form3Example2">Apellido</label>
                                      <!--alerta apellido-->
                                      <div *ngIf="form.get('apellido').errors && form.get('apellido').touched" class="alert alert-danger" role="alert">
                                        Ingrese el apellido
                                    </div>
                                    <!--alerta apellido-->
                                </div>
                            </div>
                            <div class="form-outline ">
                                <textarea class="form-control" rows="4" formControlName="descripcion_acerca" ></textarea>
                                <label class="form-label" for="form4Example3">Acerca de mi</label>
                            </div>
                            <div class="form-outline">
                                <input type="file" class="form-control" accept="image/*"  alife-file-to-base64 (onFileChanged)="obtener($event)" formControlName="photo_url" />
                                <label class="form-label" for="form3Example2">Foto <span class="alert">(requerido)</span></label>
                                   <!--alerta foto-->
                                   <div *ngIf="form.get('photo_url').errors && form.get('photo_url').touched" class="alert alert-danger" role="alert">
                                    Cargue una foto
                                   </div>
                                <!--alerta foto-->
                            </div>
                            <div class="form-outline">
                                <input type="text" class="form-control" formControlName="path_git"/>
                                <label class="form-label" for="form3Example2">Link Github</label>
                            </div>
                            <div class="form-outline">
                                <input type="text"  class="form-control" formControlName="path_link" />
                                <label class="form-label" for="form3Example2">Link LinkedIn</label>
                            </div>
                        </div>
                        <div class="modal-footer"> 
                            <button type="button"  [disabled]="form.invalid" (click)="save($event)" class="btn btn-dark">Siguiente</button>             
                            <button type="button" class="btn btn-danger"(click)="cerrarModal($event)">Cancelar</button>
                        </div>  
                  </form>
            </div>
        </ng-template>
</div>

         

    