
    <div class="row contenedor-acerca"  *ngIf="acercaVisible">
        <div class="col-sm-12 col-md-4 contenedor-img">
            <div class="imagen">
                <img [src]="pathFoto" alt="">
            </div>
        </div>
        <div class="col-sm-12 col-md-8 texto-acerca">
            <h2>Acerca de mi</h2>
            <h5>{{miNombre}}</h5>
            <p>{{descripcion}}</p><span> <fa-icon [icon]="faPen" class="iconAcerca" (click)="openEditAcerca()" ></fa-icon></span>
        </div>
        
    </div>
    <app-edit-acerca class="contenedor-editAcerca" *ngIf="editAcercaVisible" (enviarAcercaEdit)="cambioEditVisible($event)"></app-edit-acerca>
