.contenedor-acerca{
    display: center;
    justify-content: center;
    align-items: center;
    margin:auto;
}
.contenedor-img{
    background-color: var(--color-cajaS)
}
.row{
    background-color: var(--color-cajaS);
    width: 100%;
}

.contenedor-img img{
    width: 50%;
    height:100%;
}
.imagen{
    display:flex;
    justify-content:center;
    align-items: center;
}
.imagen img{
  border-radius: 50%;
  margin: 10px 0px;
}
.texto-acerca{
    padding:40px;
    background-color: var(--color-cajaP);
    color:var(--color-text);
    line-height: 25px;
    font-size: 1.2em;
}
.texto-acerca p{
    display:flex;
    justify-content:center;
    align-items: center; 
    width:100%;
    word-break: break-all;
    font-size: 0.9em;;
    line-height: 1.5rem;
}
.texto-acerca h2{
    display:flex;
    justify-content:flex-start;
    align-items: center;  
}
.iconAcerca{
    cursor: pointer;
}
.texto-acerca span{
    float:right;
    border:1px solid;
    border-radius:5px;
    padding:10px;
}

/*estilos ng-template Modal Editar Acerca de mi*/
.modal-header h3{
    margin-bottom: 0px;
}
.form-group{
    margin: 10px 0px;
}
.modal-body{
    padding:20px;
}