 img{
    background-color: #0A0A23;
    height: 100px;
    width:160px;
    margin-left: 20px;
}
@media screen and (max-width:767px){
    div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div img{
        height: 100px;
        width:160px;
        
    }
   
    
}