<div class="formulario" > 
    <form >
        <div><p>Login</p></div>
        <p><label for="name">Nombre:</label></p>
        <input type="text" class="textField">
        <p><label for="password">Contraseña:</label></p>
        <input type="password" class="textField">
        <p>
            <button>Aceptar</button>
        </p>
    </form>
</div>

<!-- 
<div class="row login">
    <div class="col-4 card-login">
        <div class="col head-card">
            <p>Login</p>
        </div>
        <div class="col body-card">
            <label for="">Nombre</label>
            <input type="text">
            <br>
            <label for="">Contraseña</label>
            <input type="password">
        </div>
        <div class="footer-card">
            <button>Aceptar</button>
        </div>
    </div>
</div> -->