/* .container{
   display: flex;
   justify-content: center;
} */

/* .loginPict{
   background: url('../../../assets/login.jpg') center no-repeat;
    width: 100%;
    height: 100vh;
} */
/* .formularioLogin{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 153, 255);
} */

 .container{
   display: flex;
   justify-content: center;
   align-items:center;
   margin-top: 10%;
}
.row-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    background-color: var(--color-text);
    border-radius: 5px;
    box-shadow: 0.1px 2px 20px rgb(131, 128, 128);
}
.login{
   
    /* min-width: 400px;
    max-width:100px;  */
    padding:0px;
    margin: 0px;
    height:400px;
}
.login img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.form{
    padding: 20px;
    /* min-width: 400px;
    max-width: 100px;
    height: 100%; */
    background-color: var(--color-text);
}
.cabecera-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabecera-form span a{
    color:var(--color-cajaS);
    font-size:1.5rem;
}
.form-group{
    color:var(--color-cajaS);
    font-size:1rem; 
}
.form-group input{
    border:1px solid var(--color-cajaS);
    margin-bottom: 10px;;
}
.form-group button{
   
    margin-left: 20px;
    margin-bottom: 10px;
    padding:10px;
    border-radius: 10px;
}
.btn-formValid{
    outline-offset: 2px;
    background-color: var(--color-cajaS);
}
.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:425px) {
    .container{
        margin-top: 0;
    }
    .form{
        margin-top: 0px;
        padding:0 40px;
    }
    .form input{
        font-size: 0.8rem;
    }
    .form button{
        font-size: 0.8rem;
        padding:5px;
    }
    .login{
        height:auto;
    }
    .login img{
        height:auto;
        object-fit: cover;
    }
    @media screen and (max-width:425px) {
        .container{
            margin-top: 20px;
        }
        .form {
            margin-top: 0px;
            height:80%;
        }
    }
}
   
