ul{
    width:100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    margin-right:60px;
    padding: 0;
    margin-bottom: 0;
}
ul li a{
    margin-left: 30px;
    font-size: 40px;
    color: #F5F6F7;
}
ul li button{
    width:80px;
    height:40px;
    margin-left: 30px;
    
}
@media screen and (max-width:768px) {
    ul li a {
        font-size: 30px;
    }
    ul li button{
        width:60px;
        
    }
}

@media screen and (max-width:425px) {
    ul{
        display: flex;
        justify-content: flex-end;
    }
    ul li a{
        display: none;
    }
    ul li button{
        margin-bottom: 10px;
        margin-right: 10px;
    };
}
