ul{
    width:100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-size: 40px;
    color: #F5F6F7;
}

@media screen and (max-width:768px) {
    ul li a {
        font-size: 30px;
    }
}

@media screen and (max-width:425px) {
    ul{
        display: flex;
        justify-content: flex-end;
    }
    ul li a{
        display: none;
    }
 
}
