<div class="container contenedor-acerca">
    <div class="row encabezado-educacion">
        <p>Educacion<span (click)="openAgregarEdu(modalAgregaEdu)"><button *ngIf="isLogged" class="iconEducacion">Agregar Educacion</button></span></p>
    </div>
    <div class="row">
        <div class=" contenedor-educacion">
            <div class="box-educacion" *ngFor="let educacion of educaciones;"  
                >      
                  <div class="row">
                       <div class="educacion" >
                            <div class="col-2">
                                <fa-icon [icon]="faGraduationCap"></fa-icon>
                            </div>
                            <div class="col-8">
                                {{educacion.titulo}}    
                            </div>
                          
                            <div class="col-2 flechas">
                             <button  (click)="onSelect(educacion)" style="padding:5px 10px;"> <fa-icon [icon]="faAnglesDown"></fa-icon></button>
                            </div> 
                        </div>  
                  </div>
                  <div class="row" [ngClass]="educacion==selectedEducacion?'selecionado1':'selecionado2'">
                       <div class=" row descripcionCurso">
                         <div class="col-sm-12 col-md-4 contenedor-img">
                             <img src="{{educacion.photo_url_educacion}}" alt="Diploma">
                         </div>
                         <div class="col">
                             <div class="col-sm-12 col-md-8">   
                                 <p>Descripcion:{{educacion.descripcion}}</p>
                             </div>
                             <div class="edicion-educacion" *ngIf="isLogged">
                                 <span (click)="editarEducacion(modalEditEdu,educacion)"><fa-icon [icon]="faPen" ></fa-icon></span> 
                                 <span (click)="eliminaEducacion(modalEliminarEdu,educacion)"><fa-icon [icon]="faTrash" ></fa-icon></span>
                             </div>
                         </div>
                       </div>
                       
                    
                  </div>
                 
            </div> 
           
        </div>
    </div>
  
      
      
</div>
<ng-template #modalAgregaEdu let-c="close" let-d="dismiss">
    <div class="modar-header modal-header">
        <h3>Agregar Educacion</h3>
    </div>
    <div class="modal-body">
        <form [formGroup]="formEducacion" novalidate (ngSubmit)="saveNuevaEducacion($event)"  >
            <div class="row mb-8">
                <div class="col">
                    <input type="text" formControlName="id" hidden>
                    <div class="form-outline">
                        <input type="text"  class="form-control" formControlName="titulo"/>
                        <label class="form-label" for="form3Example1"><fa-icon [icon]="faExclamationTriangle"></fa-icon>Titulo/Certificado</label>
                        <label class="form-label contadorCadena"><small>{{ this.formEducacion.get('titulo').value.length }}/50</small></label>
                        <!--alerta nombre empresa-->
                             <div *ngIf="formEducacion.get('titulo').errors && formEducacion.get('titulo').touched">
                                <p *ngIf="formEducacion.get('titulo').hasError('required')" class="alert">
                                    Ingrese el nombre de la empresa
                                </p>
                                <p *ngIf="formEducacion.get('titulo').hasError('maxlength')" class="alert">
                                    Maximo de 50 caracteres
                                </p>
                            </div>
                        <!--Alerta nombre empresa-->    
                    </div>
                </div>
              
                <div class="row mb-8">
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" class="form-control" formControlName="institucion"/>
                            <label class="form-label" for="form3Example2">Institucion</label>  
                        </div>                         
                    </div>
                </div>
                <div class="row mb-8">
                    <div class="col">
                        <div class="form-outline">
                            <textarea type="text" class="form-control" rows="4" formControlName="descripcion"></textarea>
                            <label class="form-label" for="form3Example2">Descripcion:</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-8">
                    <div class="col">
                        <input type="file" class="form-control"  accept="image/*"  alife-file-to-base64 (onFileChanged)="obtenerImgEdu($event)"  />
                        <label class="form-label" for="form3Example2">Certificado</label>
                    </div>
                   </div>
                
            </div>
        
            
        
        
        </form>
    </div>
    <div class="modal-footer">
        <span>
            <fa-icon [icon]="faExclamationTriangle"></fa-icon> <span><b>Campos requeridos</b></span>
        </span>
        <span>
            <button type="button"  [disabled]="formEducacion.invalid" (click)="saveNuevaEducacion($event)" class="btn btn-dark" style="margin-right:5px;">Guardar</button>             
            <button type="button" class="btn btn-outline-dark" (click)="cerrarModal($event)">Cancelar</button>
        </span>
    </div>
   

</ng-template>


<ng-template #modalEditEdu let-c="close" let-d="dismiss">
    <div class="modal-header modal-header">
        <h3>Editar Educacion</h3>
        <fa-icon [icon]="faFilePen" style="font-size:2em;"></fa-icon>
    </div>
    <div class="modar-body">
        <form [formGroup]="formEducacion" novalidate (ngSubmit)="saveNuevaEducacion($event)"  >
            <div class="row mb-8">
                <div class="col">
                    <div class="form-outline">
                        <input type="text"  class="form-control" formControlName="titulo"/>
                        <label class="form-label" for="form3Example1"><fa-icon [icon]="faExclamationTriangle"></fa-icon>Titulo/Certificado</label>
                        <!--alerta nombre empresa-->
                                <div *ngIf="formEducacion.get('titulo').errors && formEducacion.get('titulo').touched">
                                <p *ngIf="formEducacion.get('titulo').hasError('required')" class="alert">
                                    Ingrese nombre de diploma/certificado
                                </p>
                            </div>
                        <!--Alerta nombre empresa-->    
                    </div>
                </div>
                
                <div class="row mb-8">
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" class="form-control" formControlName="institucion"/>
                            <label class="form-label" for="form3Example2">Institucion</label>  
                        </div>                         
                    </div>
                </div>
                <div class="row mb-8">
                    <div class="col">
                        <div class="form-outline">
                            <textarea type="text" class="form-control" rows="4" formControlName="descripcion"></textarea>
                            <label class="form-label" for="form3Example2">Descripcion:</label>
                                
                        </div>
                    </div>
                </div>
                <div class="row mb-8">
                <div class="col">
                    <input type="file" class="form-control"  accept="image/*"  alife-file-to-base64 (onFileChanged)="obtenerImgEdu($event)"  />
                    <label class="form-label" for="form3Example2">Certificado</label>
                    
                </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <span>
            <fa-icon [icon]="faExclamationTriangle"></fa-icon> <span><b>Campos requeridos</b></span>
        </span>
        <span>
            <button type="button"  [disabled]="formEducacion.invalid" (click)="saveEditEducacion($event)" class="btn btn-dark" style="margin-right:5px;">Guardar</button>             
            <button type="button" class="btn btn-outline-dark" (click)="cerrarModal($event)">Cancelar</button>
        </span>
    </div>
</ng-template>

<!--modal eliminar-->
<ng-template #modalEliminarEdu let-c="close" let-d="dismiss">
    <div class="modar-header modal-header">
        <h3>Eliminar Educacion</h3>
        <fa-icon [icon]="faTrashCan" style="font-size:2em;"></fa-icon>
    </div>
    <div class="modar-body" style="padding:1rem;">
        <p style="margin-bottom:1rem;"><b>¿Desea eliminar este conocimiento?</b></p>
        <p><b>Titulo:</b>{{nombreEducacion}}</p>
    </div>
    <div class="modal-footer">
        <span>
            <button type="button" (click)="eliminarEducacion($event)" class="btn btn-dark" style="margin-right:5px;">Eliminar</button>             
            <button type="button" class="btn btn-outline-dark" (click)="cerrarModal($event)">Cancelar</button>
            </span>
    </div>
</ng-template>



