<div class="formulario" > 
    <form >
        <div><p>Registro de Usuario</p></div>
        
        <p><label for="name">Nombre:</label></p>
        <input type="text" class="textField">
        <p><label for="name">Usuario:</label></p>
        <input type="text" class="textField">
        <p><label for="name">Email:</label></p>
        <input type="text" class="textField">
        <p><label for="password">Contraseña:</label></p>
        <input type="password" class="textField">
        <p>
            <input type="submit" class="button" value="Aceptar" />
        </p>
    </form>
</div>