.container{
    padding:0px;
}

.contenedor-footer{
    margin: 0px;
    background-color:#0A0A23 ;
}
.redes ul li{
    list-style: none;
    margin-left: 20px;
}
.redes ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;;
    padding: 20px 20px;
    color:#EFEFEF;
    text-decoration: none;
    margin-bottom:0px
}
.footer-titulo{
    color:#EFEFEF;
    text-align: center;
    
}
.redes ul a{
    color:var(--color-text-btn);
    text-decoration: none;
}
.redes ul a:hover{
   color: var(--color-text-btnH);
    
}
.formulario{
    padding:20px;
    min-width: 30em;
    
}
.contenedor-footer{
    display: flex;
    justify-content: center;
    
}
.contenedor-form{
    min-width:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.formulario h5{
    color:var(--color-text);
}
.formulario input{
    min-width:100px;
    margin-bottom: 10px;
}

.carousel-contenedor-link{
  
  text-align: center;
  margin-top:100px;
}

.carousel-caption{
    position: absolute;
    right: 15%;
    bottom: -2.50rem;
    left: 15%;
    letter-spacing: 3px;
    padding-top: 1.25rem;
    padding-bottom: -19.75rem;
    color: #fff;
    text-align: center;
}

@media  (max-width:425px) {
    .formulario{
        display: flex;
        flex-direction: column;
        padding:6px;
        min-width:20em
    }
    
}
@media  (max-width:320px) {
    .formulario{
        display: flex;
        flex-direction: column;
        padding:6px;
        min-width:18em
    }
    
}